<div *ngIf="asyncProccess" class="d-flex justify-content-center align-items-center spinner-position">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
    <h3 class="mb-4">{{description}}</h3>
    <form class="d-flex flex-column justify-content-center" [formGroup]="resetPasswordForm"
        (ngSubmit)="submitResetPassword()">
        <div class="form-group d-flex flex-column align-items-center">
            <label for="dni">Ingrese documento</label>
            <input type="dni" id="dni" class="form-control" formControlName="dni" style="text-align: center;">
            <div *ngIf="resetPasswordForm.get('dni')?.errors">
                <div class="text-danger" *ngIf="showErrors && resetPasswordForm.get('dni')?.errors?.['required']">
                    <small>Este campo es requerido.</small>
                </div>
            </div>
            <!--Validacion de error minLength (7)-->
            <div *ngIf="resetPasswordForm.get('dni')?.errors">
                <div class="text-danger" *ngIf="showErrors && resetPasswordForm.get('dni')?.errors?.['minlength']">
                    <small>El documento debe tener al menos 7 caracteres.</small>
                </div>
            </div>
            <!--Validacion de error maxLength (8)-->
            <div *ngIf="resetPasswordForm.get('dni')?.errors">
                <div class="text-danger" *ngIf="showErrors && resetPasswordForm.get('dni')?.errors?.['maxlength']">
                    <small>El documento no puede tener más de 8 caracteres.</small>
                </div>
            </div>
            <!--Validacion de error pattern (solo números)-->
            <div *ngIf="resetPasswordForm.get('dni')?.errors">
                <div class="text-danger" *ngIf="showErrors && resetPasswordForm.get('dni')?.errors?.['pattern']">
                    <small>El documento debe contener solo números.</small>
                </div>
            </div>
        </div>
        <button [disabled]="!resetPasswordForm.valid || asyncProccess" type="submit" class="btn btn-primary mt-4"
            [style.backgroundColor]="'#' + color" [style.borderColor]="'#' + color"><i class="fi fi-tr-user-key"></i> Restablecer contraseña</button>
    </form>
</div>

<div class="modal" #resetPasswordModal tabindex="-1" id="resetPasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{description}}</h5>
                <button type="button" class="btn-close text-reset" aria-label="Close"
                    (click)="closeResetPasswordModal()"></button>
            </div>
            <div class="modal-body">
                <p>Pondrá el DNI del usuario {{username}} {{userlastname}} como contraseña, ¿está seguro de continuar?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="confirmResetPassword()">Confirmar</button>
                <button type="button" class="btn btn-danger" (click)="closeResetPasswordModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>