<footer>
  <!-- Línea separadora -->
  <hr style="border: 1px solid #000;">

  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
    <!-- Logo y texto a la izquierda -->
    <div class="footer-left ms-2 d-flex align-items-center text-center text-sm-start">
      <p>Copyright Athenas - 2024 | All rights reserved | Desarrollado por Colossus</p>
    </div>

    <!-- Logos a la derecha -->
    <div class="footer-right ms-2 d-flex flex-column flex-lg-row-1079 align-items-center">
      <p class="d-flex flex-column text-center text-sm-start flex-sm-row flex-md-column flex-lg-row-1079 me-md-3 me-lg-1079-0">
        <span><a href="mailto:{{mail}}" target="_blank">{{mail}}</a></span>
        <span class="d-none d-sm-block d-md-none d-lg-block-1079 ms-1 me-1"> - </span>
        <a href="{{web}}" target="_blank">{{web}}</a>
      </p>
      <div class="d-flex mb-05rem-on-lg">
        <a href="{{wpp}}" target="_blank"><i class="fi fi-brands-whatsapp"></i></a>
        <a href="{{ig}}" target="_blank"><i class="fi fi-brands-instagram"></i></a>
        <a href="{{in}}" target="_blank"><i class="fi fi-brands-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>